.main_grid_1,
.main_grid_2,
.main_grid_3 {
  max-width: var(--max-width);
}

.main_grid_1 .img,
.main_grid_2 .img,
.main_grid_3 .img,
.main_grid_4 .img {
  width: 400px;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
}

.MuiButton-outlined.action {
  margin-top: 18px;
}

@media (min-width: 900px) {
  .main_grid_2 .img,
  .main_grid_4 .img {
    margin-left: -96px;
    padding-left: -24px;
  }
}
