.home-header h1.MuiTypography-h5 {
  margin-top: 64px;
}
.home-header .main.autocomplete {
  margin-top: 24px;
}

.qualifications-list {
  margin-top: 80px;
}

.qualifications-list .filters.container {
  display: flex;
  flex-direction: column;
}

.qualifications-list .main.autocomplete,
.qualifications-list .multiple.select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-left: 6px;
  padding-top: 8px;
}
.qualifications-by-region {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .qualifications-list .filters.container {
    flex-direction: row;
  }
  .qualifications-by-region {
    margin-top: 240px;
  }
}
