@import "../index.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.main-nav {
  margin: 0;
}

.main-nav .nav-link {
  text-decoration: none;
  color: var(--textColor);
}

.main-nav .logo {
  font-weight: 700;
  font-family: Montserrat;
}
