.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 440px; /* Same height as the graphOptions.height */
  width: 440px; /* Same width as the graphOptions.width */
}
#border,
#graph {
  position: absolute;
}

#graph {
  top: 30px;
  left: 32px;
}

#border {
  top: 20px;
  left: 22px;
}

#graph {
  svg {
    width: 440px;
    height: 440px;
  }
}
#border {
  svg {
    width: 460px;
    height: 460px;
  }
}

text {
  font-family: Quicksand, serif;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  text-anchor: middle; /* align center */
  dominant-baseline: middle; /* vertical alignment fix */
}


.arc:focus {
  outline: none; /* Remove default outline */
}

.arc:focus-visible {
  outline: 2px solid black;
}
