/* ============= GLOBAL CSS =============== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --font-color: #000;
  --accent-color: #fabd3a;
  --secondary-color: #6accd8;
  --header-color: #011d78;
  --secondary-font-color: #707070;
  --light-secondary-color: #e7f3fe;
  --background-color: #fbfbfb;

  /* grey */
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --headingFont: Quicksand;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 95vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Quicksand, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

#root {
  width: var(--view-width);
  font-family: var(--headingFont);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MuiButtonBase-root.MuiButton-root,
div.MuiTypography-body1,
p.MuiTypography-body1,
p.MuiTypography-body2,
div.MuiTypography-subtitle1,
p.MuiTypography-subtitle1 {
  font-family: var(--headingFont);
  margin: 0;
}
h2.MuiTypography-h6,
.MuiTypography-root,
h1.MuiTypography-h1,
h2.MuiTypography-h2,
h1.MuiTypography-h2,
h3.MuiTypography-h3,
h1.MuiTypography-h3,
h4.MuiTypography-h4,
h1.MuiTypography-h4,
h5.MuiTypography-h5,
h1.MuiTypography-h5,
h6.MuiTypography-h6,
h1.MuiTypography-h6,
h2.MuiTypography-h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 700;
  line-height: 1.25;
  /* letter-spacing: var(--letterSpacing); */
}

/* buttons */

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

/* 
============= 
PROJECT CSS
=============
*/
.page {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem 2rem;
}

.highlight {
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(178, 235, 242, 0) 0.9%,
      rgba(178, 235, 242, 1.25) 2.4%,
      rgba(178, 235, 242, 0.5) 5.8%,
      rgba(178, 235, 242, 0.1) 93%,
      rgba(178, 235, 242, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(130, 255, 173, 0) 0%,
      rgba(130, 255, 173, 0.3) 7.9%,
      rgba(130, 255, 173, 0) 15%
    );
  padding: 0 13.7px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(178, 235, 242, 0.7),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}
