.cta_grid_2 {
    overflow: hidden;
    max-height: 180px;
    max-width: var(--max-width);
  }
  
  .cta_grid_2 .img {
    width: 400px;
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cta_grid_2 .action {
    margin-top: 18px;
  }