
.MuiAccordion-root.accordion {
    border: 1px solid var(--grey-500);
    width: 800px;
    margin-top: 4px;
    border-radius: 4px;
}

.accordion .summary {
    border-bottom: 2px solid var(--primary-800);
    padding: 0;
}

.summary p.item-title {
    margin-top: 4;
    font-weight: 600;
  }

  .summary span.item-detail {
    margin-top: 12px;
  }

  .accordion .details {
    border-radius: 4px;
}


.accordion .details .MuiTypography-body1 {
    font-size: 14px;
}