.qualifications-list .qualification-card,
.qualifications-by-region .qualification-card{
  display: flex;
  margin-top: 12px;
}

.qualifications-list img,
.qualifications-by-region img {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 4px;
  width: 151px;
}

.qualifications-list a.link,
.qualifications-by-region a.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
}

.qualifications-list .icons-container,
.qualifications-by-region .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}
